# Dependencies
node_modules

# Build outputs
dist
build
.output

# Turbo
.turbo

# Prisma
generated

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
bun-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

# Vite
vite.config.*.timestamp-*
